@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdf2f8;
}

/* Custom scrollbar for chat */
.chat-container {
  scrollbar-width: thin;
  scrollbar-color: #fbcfe8 #fdf2f8;
}

.chat-container::-webkit-scrollbar {
  width: 5px;
}

.chat-container::-webkit-scrollbar-track {
  background: #fdf2f8;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #fbcfe8;
  border-radius: 3px;
}
